<div class="row mt-4">
    <div class="card col-lg-4" style="width: 16rem;">
        <img class="card-img-top" src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcTFBI2_f9x2H1lH38uBIBYzS1X37RRW5fulFiWlbe-h5-ro6CzfJf-zaDeFnMo7i3W0ZA7eYUjImz9eq7ZYPD4etIlJmBdQFU6PuBstObKtOkIkdjf9BQ2mEQ&usqp=CAc" 
        alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">sweatshirt</h4>
          <h5>80$</h5>
          <p class="card-text">Summaries. Bruce Banner, a scientist on the run from the U.S. Government, must find a cure for the monster he turns into whenever he loses his temper. A cure is in reach for the world's most primal force of fury: THE INCREDIBLE HULK.
        </p>
          <a href="#" class="btn btn-primary">Add</a>
        </div>
      </div>
      <div class="card col-lg-4" style="width: 16rem;">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9r_s_LmoGmR7z8DhWKhSt9pIZQ5EUrUXi4g&usqp=CAU" 
        alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">trouser</h4>
          <h5>60$</h5>
          <p class="card-text">Summaries. Bruce Banner, a scientist on the run from the U.S. Government, must find a cure for the monster he turns into whenever he loses his temper. A cure is in reach for the world's most primal force of fury: THE INCREDIBLE HULK.
        </p>
          <a href="#" class="btn btn-primary">Add</a>
        </div>
      </div>
      <div class="card col-lg-4" style="width: 16rem;">
        <img class="card-img-top" src="https://static.nike.com/a/images/t_default/80a540bb-a803-44e5-acc0-3547add4d168/dri-fit-adv-club-unstructured-tennis-cap-QSbqwZ.png" 
        alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Cap</h4>
          <h5>10$</h5>
          <p class="card-text">Summaries. Bruce Banner, a scientist on the run from the U.S. Government, must find a cure for the monster he turns into whenever he loses his temper. A cure is in reach for the world's most primal force of fury: THE INCREDIBLE HULK.
        </p>
          <a href="#" class="btn btn-primary">Add</a>
        </div>
      </div>
      <div class="card col-lg-4" style="width: 16rem;">
        <img class="card-img-top" src="https://m.media-amazon.com/images/I/41lpG5mNGVL._AC_UY1000_.jpg" 
        alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">sneakers</h4>
          <h5>50$</h5>
          <p class="card-text">Summaries. Bruce Banner, a scientist on the run from the U.S. Government, must find a cure for the monster he turns into whenever he loses his temper. A cure is in reach for the world's most primal force of fury: THE INCREDIBLE HULK.
        </p>
          <a href="#" class="btn btn-primary">Add</a>
        </div>
      </div>
      
</div>